{% extends 'Cliente/base.html'%}

{% block content %}
<h1>Tu carrito de compras</h1>
<br>
<div class="table-responsive" id="tableContainer">
    <table id="table" class="table table-striped table-bordered border-warning" style="max-width:100%">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
                <th>Gestión</th>
            </tr>
        </thead>
        <tbody>
                {% for datos in lista %}
                <tr>
                    <form action="/eliminarItem" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="alimento" value={{datos.alimentoID}}>
                        <td><b>{{datos.alimentoNombre}}</b></td>            
                        <td>{{datos.cantidad}}</td>
                        <td>${{datos.precio}}</td>            
                        <td>${{datos.subtotal}}</td>
                        <td><button class="btn btn-danger btn-flat" type="submit">Quitar</button></td>
                    </form>
                </tr>
                {% endfor %}
                <td>Total: ${{total}}</td>
            </tbody>
    </table>
</div>
<br>
<br>
<a href="{% url 'indexCliente' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Seguir comprando</a>

<br>
<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Nombre y Apellido</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Celular</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Descripcion</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <form method="get" action="http://aprenderaprogramar.com/action.php">
        Entrega:
        
        <br />
        
        <input name="intereses" type="radio" value="rbipeliculas" />En local
        <br />  
        <input name="intereses" type="radio" value="rbilibros" />En domicilio
        <div class="form-group">
            <label for="exampleFormControlInput1">Direccion</label>
            <input id="searchTextField" type="text" size="50" placeholder="Ingrese su dirección..." autocomplete="on" runat="server" />
        </div>
        
        </form>

</form>
<div id="confirm-container">
    <form action="/confirmarPedido" method="post">
        {% csrf_token %}
            {% if total == 0 %}
                <p><b>Total: ${{total}}</b>&nbsp&nbsp&nbsp&nbsp&nbsp<button class="btn btn-warning btn-flat" id='confirmar' type="submit" disabled>Confirmar pedido</button></p>
            {% else %}
                <p><b>Total: ${{total}}</b>&nbsp&nbsp&nbsp&nbsp&nbsp<button class="btn btn-warning btn-flat" id='confirmar' type="submit">Confirmar pedido</button></p>
            {% endif %}
    </form>
</div>
<td><button type="button" class="btn btn-success">Confirmar Pedido</button></td>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5bJ7e24SdcnhOtbqPMfC30MrOlhLyMTI&libraries=places"></script>
{% endblock %}

