{% extends 'Cliente/base.html'%}

{% block content %}
<h1>Tu carrito de compras</h1>
<br>
<div class="table-responsive" id="tableContainer">
    <table id="table" class="table table-striped table-bordered border-warning" style="max-width:100%">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
                <th>Gestión</th>
            </tr>
        </thead>
        <tbody>
                {% for datos in lista %}
                <tr>
                    <form action="/eliminarItem" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="alimento" value={{datos.alimentoID}}>
                        <td><b>{{datos.alimentoNombre}}</b></td>            
                        <td>{{datos.cantidad}}</td>
                        <td>${{datos.precio}}</td>            
                        <td>${{datos.subtotal}}</td>
                        <td><button class="btn btn-danger btn-flat" type="submit">Quitar</button></td>
                    </form>
                </tr>
                {% endfor %}
                <td>Total: ${{total}}</td>
                <td><button type="button" class="btn btn-success">Confirmar Pedido</button></td>
            </tbody>
    </table>
</div>
<br>
<br>
<a href="{% url 'indexCliente' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Seguir comprando</a>
<br>
<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Nombre y Apellido</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Celular</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Descripcion</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>
{% endblock %}