{% extends 'Cliente/base.html'%}
{% load static %}

        {% block content %}

          {% for categoria in categorias %}
            <div class="container">
            <h1>{{categoria.nombre}}</h1> <br/>
            {% for producto in productos %}  
              
              {% if producto.categoria.nombre == categoria.nombre %} 
                   <div class="card">
                      <img src="{{producto.foto.url}}">
                      <h4>{{producto.nombre}}  ${{producto.precioActual}}</h4>
                      <p>{{ producto.descripcion }}</p>
                      <a href="{url 'añadir_carrito' pk=producto.pk %}">Añadir</a>
                      
                   </div>
               {% endif %}
              
            {% endfor %}
          </div>
          {% endfor %}
          <p>Usted visito esta pagina {{ num_visitas }} veces.</p>
       {% endblock %}