{% extends 'Cliente/base.html'%}
{% load static %}

        {% block content %}

          {% for categoria in categorias %}
            <div class="container">
            <h1>{{categoria.nombre}}</h1> <br/>
            {% for producto in productos %}  
              {{producto.id}}
              {% if producto.categoria.nombre == categoria.nombre %} 
                   <form method="post" action="/agregaritem">
                   {% csrf_token %}
                   <div class="card">
                      <img src="{{producto.foto.url}}">
                      <h4>{{producto.nombre}}  ${{producto.precioActual}}</h4>
                      <p>{{ producto.descripcion }}</p>
                      <input id="alimento" type="hidden" name="alimento" value={{producto.id}}><br>
                      <input id="cantidad" type="number" name="cantidad" min="1" max="4" value="0" style="text-align:center;">
                      <button type="submit" class="btn btn-warning btn-block btn-flat">Añadir</button>
                   </div>
                  </form>
               {% endif %}
              
            {% endfor %}
          </div>
          {% endfor %}
          <p>Usted visito esta pagina {{ num_visitas }} veces.</p>
       {% endblock %}