{% extends 'Cliente/base.html'%}
{% load static %}

        {% block content %}
     


          {% for categoria in categorias %}
            <div class="container">
            <h1>{{categoria.nombre}}</h1> <br/>
            {% for producto in productos %}  
              
              {% if producto.categoria.nombre == categoria.nombre %} 
                   <div class="card">
                      <img src="{{producto.foto.url}}">
                      <h4>{{producto.nombre}}  ${{producto.precioActual}}</h4>
                      <p>{{ producto.descripcion }}</p>
                      <form action="{% url 'carro:añadir_carrito' producto.pk %}" method="post">
                          <button type="button" class="btn btn-success">Añadir al carrito</button>
                      </form>
                   </div>
               {% endif %}
              
            {% endfor %}
          </div>
          {% endfor %}
               
       {% endblock %}