{% extends 'Cliente/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align: center">Comidas rápidas para la cuidad de Ushuaia</h1><br>
        </div>
        <div class="col-sm-6">
            <img src="media/local.jpg" class="img-thumbnail" alt="Cinque Terre" width="100%" height="100%">
        </div>
        <div class="col-sm-6">
            <h5 floar="left">Somos CASA PA' Rotisería, una empresa familiar con más de 17 años de trayectoria y atendida por sus dueños, dedicada al rubro gastronómico en Ciudad de Buenos Aires. Ofrecemos atención personalizada y un trato totalmente cordial.<br><br>
            
            Trabajamos con productos de gran calidad para así garantizar el mejor sabor en todas las comidas que preparamos. Nos caracterizamos por la higiene, la rapidez y el compromiso.<br><br>

            Atendemos al público en general. ¡Visítenos!</h5>
        </div>
    </div>
{% endblock %}