{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Maps</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="{%static 'css/estiloRepartidor.css'%}">
</head>
<body>
	<div id="map" style="position: relative;"></div>

	<div id="contenedor" class="contenedor">
		<a href="#" class="boton-cerrar" onclick="ocultar()">&times;</a>
		<h1>STREET VIEW</h1>
		<hr>
		<h2>Isla Año Nuevo 310</h2>
		<hr>
		<h3>Pedido ID</h3>
		
		<table>
		  <tr>
		  	<th scope="col">Unidades</th>
		    <th scope="col">Producto</th>
		    <th scope="col">Precio unitario</th>
		    <th scope="col">Subtotal</th>
		  </tr>

		  <tr>
		    <td>3</td>
		    <td>Producto 1</td>
		    <td>$120</td>
		    <td>$360</td>
		  </tr>

		  <tr>
		    <td>2</td>
		    <td>Producto 2</td>
		    <td>$120</td>
		    <td>$240</td>
		  </tr>

		  <tr>
		    <td>3</td>
		    <td>Producto 3</td>
		    <td>$120</td>
		    <td>$360</td>
		  </tr>

		  <tr>
		  	<td></td>
		  	<td></td>
		    <th scope="row" >TOTAL</th>
		    <td><strong>$960</strong></td>
		  </tr>
		</table>

		<hr>
		<button type="button">Entregado</button>
	</div>

	<script>
		var markersData = [
			{% for item in mapas %}
				{
					lat: {{item.latitud}},
					long: {{item.longitud}},
					dir: '{{item.direccion}}',
				},
			{% endfor %}
		];
	</script>

	<script type='text/javascript' src="{%static 'js/scriptRepartidor.js'%}"></script>
	<script type='text/javascript' src="{%static 'js/scriptRepartidorPanel.js'%}"></script>
	
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5bJ7e24SdcnhOtbqPMfC30MrOlhLyMTI&callback=initMap"
  type="text/javascript"></script>
</body>
</html>