{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Maps</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{%static 'css/estiloRepartidor.css'%}">
</head>
<body>
	<div id="map" style="position: relative;"></div>

	<div id="contenedor" class="contenedor">
		<a href="#" id="cerrar" class="boton-cerrar" onclick="ocultar()">&times;</a>
		<!-- Street View -->
		<div id="imagen">
			<img id="imagenMapa" onclick="street()">
		</div>
		<!-- Fin Street View -->

		<div id="domicilio">
			<!-- aqui ponremos los datos del domicilio que se toque en el marcador -->
		</div>

		<button type="button">Entregado</button>
	</div>

	<script>
		var markersData = [
			{% for pedido in pedidos %}
				{
					lat: {{pedido.mapa.latitud}},
					long: {{pedido.mapa.longitud}},
					dir: '{{pedido.mapa.direccion}}',
					telefono: {{pedido.telefono_cliente}}
				},
			{% endfor %}
		];
	</script>

	<script type='text/javascript' src="{%static 'js/scriptRepartidor.js'%}"></script>
	<script type='text/javascript' src="{%static 'js/scriptRepartidorPanel.js'%}"></script>
	
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5bJ7e24SdcnhOtbqPMfC30MrOlhLyMTI&callback=initMap"
  type="text/javascript"></script>
</body>
</html>