{% load crispy_forms_tags %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="row"></div>
<div class="col-md-5" >
<form method = "post" enctype="multipart/form-data">
        {% csrf_token %}

       <div id="div_id_nombre" class="form-group">
    <label for="id_nombre" class=" requiredField">
        Nombre<span class="asteriskField">*</span> </label>
    <div class="">
        <input type="text" name="nombre" maxlength="50" class="textinput textInput form-control" required id="id_nombre"> </div>
</div>

<div id="div_id_descripcion" class="form-group">
    <label for="id_descripcion" class="">
        Descripcion
    </label>
    <div class="">
        <input type="text" name="descripcion" maxlength="50" class="textinput textInput form-control" id="id_descripcion"> </div>
</div>

<div id="div_id_foto" class="form-group">
    <label for="id_foto" class=" requiredField">
        Foto<span class="asteriskField">*</span> </label>
    <div class="">
        <input type="file" name="foto" accept="image/*" class="clearablefileinput form-control" required id="id_foto"> </div>
</div>

<div id="div_id_precioActual" class="form-group">
    <label for="id_precioActual" class=" requiredField">
        Precio Actual<span class="asteriskField">*</span> </label>
    <div class="">
        <input type="number" name="precioActual" step="0.001" class="numberinput form-control" required id="id_precioActual"> </div>
</div>

 <div>Categoria</div>
     <select name="categoria" id="id_categoria">
        {% for item in categorias %}
            <option value="{{item.nombre}}">{{item.nombre}}</option>
        {% endfor %}
     </select>
 </div>

<div id="div_id_ganancia" class="form-group">
    <label for="id_ganancia" class=" requiredField">
        Ganancia<span class="asteriskField">*</span> </label>
    <div class="">
        <input type="number" name="ganancia" class="numberinput form-control" required id="id_ganancia"> </div>
</div>
    <button type=" submit">Guardar</button>
</form>
</div>


