{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
<h1>Administración Manjares del Beagle</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio<span class="sr-only"></span></a>
      </li>

       <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Productos
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'crear_producto' %}">Cargar</a>
        <a class="dropdown-item" href="{% url 'listar_producto' %}">Listar</a>
      </div>
    </li>

           <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
        Categorías
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'crear_categoria' %}">Cargar</a>
        <a class="dropdown-item" href="{% url 'listar_categoria' %}">Listar</a>
      </div>
    </li>

    </ul>

  </div>
</nav>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>