{% extends 'Layouts/baseUsuarios.html'%}
{% load static %}

{% block content %}
  <!-- Botones para Categoria y Producto --> 
  <!-- style="width:200px; height:auto"   -->
  <div class="row">
    <div class="col-sm-6" align="center">
      <div class="card" style="width: 16rem;">
        <img src="/media/pensando.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" align="center">Categorias</h5>
          <hr style="background-color: gray;">
          <a href="{% url 'listar_categoria' %}" class="btn btn-success">Listar</a>
          <a href="{% url 'crear_categoria' %}" class="btn btn-success">Cargar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6" align="center">
      <div class="card" style="width: 16rem;">
        <img src="/media/pensando.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" align="center">Productos</h5>
          <hr style="background-color: gray;">
          <a href="{% url 'crear_producto' %}" class="btn btn-success">Listar</a>
          <a href="{% url 'crear_producto' %}" class="btn btn-success">Cargar</a>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}