{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Categorías</title>
</head>
<body>

<table class="table table-bordered">
	<thead>
		<tr>
            <td>Categoría</td>
			<td>Acciones</td>
		</tr>
    </thead>
 {% if categorías %}
      {% for item in categorías %}
    <tr>
      <td>  {{item.nombre}}</td>
          <td><a class="btn btn-danger" href="{% url 'borrar_categoria' item.nombre %}">Borrar</a>
          </td>

    </tr>

  {% endfor %}
</table>
   {% else %}
      <h1>No hay registros de categorías</h1>
    {% endif %}
<script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
</html>