<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Productos</title>
</head>
<body>
 {% if productos %}
      {% for item in productos %}
        {{item.getPrecioActual}}
        {{item.nombre}}
        {{item.descripcion}}
        {{item.precioActual}}
 			<a class="btn btn-primary" href="{% url 'editar_producto' item.id %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'borrar_producto' item.id %}">Borrar</a>
        <br>

  {% endfor %}

      {% else %}
      <h1>No hay registros de productos</h1>
      {% endif %}

</body>
</html>