{% extends "base.html" %}
{% block content %}
    <meta  http-equiv = "refresh"  content = "30">
    <h1>Historial de pedidos</h1>
    <br>
    {% if pedidos %} 
        {% for pedido in pedidos %}

            {% if pedido.estadoPedido.estado == 'entregado' %}
                <h3>Pedido numero: {{ pedido.id }}</h3>
                <h3>Cliente: {{pedido.nombre_cliente}}</h3>
                <h3>Descripcion: {{pedido.descripcion}}</h3>
                <h3>Direccion: {{pedido.mapa.direccion}}</h3>
                <h3>Telefono: {{pedido.telefono}}</h3>
                <table class="table">
                    <thead> 
                        <tr> 
                            <td>Prducto</td> 
                            <td>Cantidad</td> 
                            <td>Precio</td> 
                            <td>Subtotal</td> 
                        </tr>
                    </thead>
                    {% for pedidoProducto in pedidoProductos %}
                        {% if pedido.id == pedidoProducto.pedido.id %}
                            <tr>
                                <td>{{pedidoProducto.producto.nombre}}</td>
                                <td>{{pedidoProducto.cantidad}}</td>
                                <td>{{pedidoProducto.precioVariable}}</td>
                                <td>{{pedidoProducto.subtotal}}</td>
                            </tr>  
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>Total: $ {{ pedido.total }}</td>
                    </tr> 
                </table>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}