{% extends "base.html" %}
{% block content %}
        <meta  http-equiv = "refresh"  content = "30">
        <h1>Pedidos preparandose </h1>

        {% if pedidos %} 
        {% for pedido in pedidos %}
            {% if pedido.estadoPedido.estado == 'confirmado' %}
             <td><h3>Pedido numero {{ pedido.id }} </h3></td>
             <td><h4>Cliente: {{pedido.cliente.nombre}}</h4></td>
             <table class="table">
                <thead> 
                <tr> 
                    <th scope="col">Prducto</th> 
                    <th scope="col">Cantidad</th> 
                    <th scope="col">Precio</th> 
                    <th scope="col">Subtotal</th> 
                </tr>
                </thead> 
                <tbody> 
                    {% for pedidoProducto in pedidoProductos %}
                        {% if pedido.id == pedidoProducto.pedido.id %}
                          <tr>
                            <td>{{pedidoProducto.producto.nombre}}</td>
                            <td>{{pedidoProducto.cantidad}}</td>
                            <td>{{pedidoProducto.precioVariable}}</td>
                            <td>{{pedidoProducto.subtotal}}</td>
                          </tr>  
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>Total: $ {{ pedido.total }}</td>
                    </tr>
                    <button><a href="/confirmar_pedido/{{pedido.id}}">Añadir a bloque</a></button>
                </tbody> 
            </table>
            {% endif %}
        {% endfor %}
        {% endif %}
{% endblock %}