{% extends "base.html" %}
{% block content %}
    <meta  http-equiv = "refresh"  content = "30">
    <h1>Pedidos rechazados</h1>
    {% if pedidos %} 
        {% for pedido in pedidos %}
            {% if pedido.estadoPedido.estado == 'rechazado' %}
                <h3>ID Pedido: {{ pedido.id }}</h3>
                <h4>Cliente: {{pedido.cliente.nombre}}</h4>
                <table class="table">
                    <thead> 
                        <tr> 
                            <td>Prducto</td> 
                            <td>Cantidad</td> 
                            <td>Precio</td> 
                            <td>Subtotal</td> 
                        </tr>
                    </thead>
                    {% for pedidoProducto in pedidoProductos %}
                        {% if pedido.id == pedidoProducto.pedido.id %}
                            <tr>
                                <td>{{pedidoProducto.producto.nombre}}</td>
                                <td>{{pedidoProducto.cantidad}}</td>
                                <td>{{pedidoProducto.precioVariable}}</td>
                                <td>{{pedidoProducto.subtotal}}</td>
                            </tr>  
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>Total: $ {{ pedido.total }}</td>
                    </tr>
                </table>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}