{% extends "base.html" %}
{% block content %}
    <meta  http-equiv = "refresh"  content = "30">
    <h1>Pedidos preparandose</h1>
    <button><a href="/nuevo_bloque">Nuevo bloque</a></button>
    <h3>ID: {{ultimo_bloque.id}}</h3>
    {% if pedidos %} 
        {% for pedido in pedidos %}
            {% if pedido.estadoPedido.estado == 'confirmado' %}
                <h3>ID Pedido: {{ pedido.id }}</h3>
                <h4>Cliente: {{pedido.nombre_cliente}}</h4>
                <table class="table">
                    <thead> 
                        <tr> 
                            <td>Prducto</td> 
                            <td>Cantidad</td> 
                            <td>Precio</td> 
                            <td>Subtotal</td> 
                        </tr>
                    </thead>
                    {% for pedidoProducto in pedidoProductos %}
                        {% if pedido.id == pedidoProducto.pedido.id %}
                            <tr>
                                <td>{{pedidoProducto.producto.nombre}}</td>
                                <td>{{pedidoProducto.cantidad}}</td>
                                <td>{{pedidoProducto.precioVariable}}</td>
                                <td>{{pedidoProducto.subtotal}}</td>
                            </tr>  
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>Total: $ {{ pedido.total }}</td>
                    </tr> 
                </table>
                <button><a href="/añadir_bloque/{{pedido.id}}">Añadir a bloque</a></button> 
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}